<p-panel header="Upload">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <input size="60" formControlName="file" type="file" name="file" (change)="onFileChange($event)" multiple="false"
             accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
      <button pButton type="submit" [disabled]="uploadForm.invalid || uploadForm.pristine" label="Submit"></button>
  </form>

  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </ng-template>
</p-panel>
