a {
  text-decoration: none;
  color: darkblue;
}

a:hover, a:active {
  color: coral;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}


.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

