<div style="padding: 10px">
  <p-button type="button" class="ui-button-raised" icon="pi pi-user-plus" iconPos="left" label="Add Student"
            (click)="onAddStudentClicked()"></p-button>
</div>
<div>
  <p-table #dt [columns]="cols" [value]="studentList" [paginator]="true" [rows]="10"
           [rowsPerPageOptions]="[5,10,20,50,100]" [responsive]="true" sortField="netId">
    <ng-template pTemplate="caption">
      <div class="p-grid">
        <div class="p-col-8">
          <div class="ui-helper-clearfix" style="text-align: left">
            <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"
                    style="margin-right: 0.5em;"></button>
            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"
                    style="margin-right: 0.5em;" class="ui-button-success"></button>
            <!--            <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()"-->
            <!--                    class="ui-button-warning" style="margin-right: 0.5em;"></button>-->
            <!--        <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"></button>-->
          </div>
        </div>
        <div class="p-col-4">
          <div style="text-align: right">
            <i class="pi pi-search" style="margin:6px 6px 0 0"></i>
            <input type="text" pInputText size="40" placeholder="Global Filter"
                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;height: 35px">
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'netId'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'firstName'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'lastName'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'preferredName'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'dukeEmail'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'altEmail'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, 'contains')">
          <p-dropdown *ngSwitchCase="'programYear'" [options]="programYears" [style]="{'width':'100%'}"
                      (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          <input *ngSwitchCase="'laptopSn'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, 'contains')">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td class="cell-breakWord" *ngFor="let col of cols">
          {{rowData[col.field]}}
        </td>
        <td class="cell-max-width-4px">
          <button pButton icon="pi pi-times" class="ui-button-danger" (click)="onDeleteStudentClicked(rowData)"
                  style="margin-left: 0.5em;"></button>
          <button pButton icon="pi pi-user-edit" (click)="onEditStudentClicked(rowData)"
                  style="margin-left: 0.5em;"></button>
          <button pButton label="Assign" (click)="onAssignInventoryClicked(rowData)"
                  style="margin-left: 0.5em;"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="{{studentModalTitle}}" [(visible)]="enableStudentPopup" [style]="{width: '650px'}">
  <form [formGroup]="studentForm" (ngSubmit)="addOrEditStudent()">
    <div class="ui-fluid">
      <div class="p-field">
        <label for="netId" class="p-col-12 p-md-2">Net ID <span style="color: red">*</span></label>
        <input id="netId" type="text" formControlName="netId" class="p-col-12 p-md-6">
        <span class="p-col-12 p-md-4" style="color: red"
              *ngIf="(registerFormControl.netId.touched || submitted) && registerFormControl.netId.errors?.required"> Value is required </span>
      </div>
      <div class="p-field">
        <label for="firstName" class="p-col-12 p-md-2">First Name<span style="color: red">*</span></label>
        <input id="firstName" type="text" formControlName="firstName" class="p-col-12 p-md-6">
        <span style="color: red"
              *ngIf="(registerFormControl.firstName.touched || submitted) && registerFormControl.firstName.errors?.required"> Value is required </span>
      </div>
      <div class="p-field">
        <label for="lastName" class="p-col-12 p-md-2">Last Name<span style="color: red">*</span></label>
        <input id="lastName" type="text" formControlName="lastName" class="p-col-12 p-md-6">
        <span style="color: red"
              *ngIf="(registerFormControl.lastName.touched || submitted) && registerFormControl.lastName.errors?.required"> Value is required </span>
      </div>
      <div class="p-field">
        <label for="preferredName" class="p-col-12 p-md-2">Preferred Name</label>
        <input id="preferredName" type="text" formControlName="preferredName" class="p-col-12 p-md-6">
      </div>
      <div class="p-field">
        <label for="dukeEmail" class="p-col-12 p-md-2">Duke Email<span style="color: red">*</span></label>
        <input id="dukeEmail" type="text" formControlName="dukeEmail" class="p-col-12 p-md-6">
        <span style="color: red"
              *ngIf="(registerFormControl.dukeEmail.touched || submitted) && registerFormControl.dukeEmail.errors?.required"> Value is required </span>
      </div>
      <div class="p-field">
        <label for="altEmail" class="p-col-12 p-md-2">Alt Email</label>
        <input id="altEmail" type="text" formControlName="altEmail" class="p-col-12 p-md-6">
      </div>
      <div class="p-field">
        <label for="programYear" class="p-col-12 p-md-2">Program Year<span style="color: red">*</span></label>
        <input id="programYear" type="text" formControlName="programYear" class="p-col-12 p-md-6">
        <span style="color: red"
              *ngIf="(registerFormControl.programYear.touched || submitted) && registerFormControl.programYear.errors?.required"> Value is required </span>
      </div>
      <div class="p-field p-col-4">
        <button pButton type="submit" label="Submit" [disabled]="!studentForm.valid"></button>
      </div>

    </div>

  </form>

</p-dialog>

<p-dialog header="Delete Confirmation" [(visible)]="enableStudentDeletePopup" [style]="{width: '300px'}">
  <span><p>Are you sure?</p></span>
  <br>
  <button class="ui-button-danger" pButton type="submit" label="Delete" (click)="deleteStudent()"></button>
</p-dialog>

<p-dialog header="Inventory Management" [(visible)]="enableInventoryManagement" [style]="{width: '700px'}">
  <p-tabView>
    <p-tabPanel header="Notes/History" leftIcon="pi pi-user">
      <p-table #dt [columns]="studentHistoryCols" [value]="studentHistoryList" [paginator]="true" [rows]="5"
               [rowsPerPageOptions]="[5,10,20,50,100]" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{car[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br>
      <form [formGroup]="studentHistoryForm" (ngSubmit)="updateStudentHistory()">
        <div class="ui-fluid">
          <div class="p-field">
            <textarea id="comment_std_history" type="text" formControlName="comments" class="p-col-12 p-md-10" rows="4"
                      maxlength="200" required="true" placeholder="Enter comments"></textarea>
          </div>
          <div class="p-field p-col-4">
            <button pButton type="submit" label="Submit" [disabled]="!studentHistoryForm.valid"></button>
          </div>
        </div>
      </form>

    </p-tabPanel>
    <p-tabPanel header="Manage Inventory" rightIcon="pi pi-inbox">
      <h3>Current Inventory</h3>
      <div class="p-field">
        <label for="laptopSn" class="p-col-12 p-md-4">Laptop SN</label>
        <input disabled=true id="laptopSn" type="text" class="p-col-12 p-md-6"
               value="{{assignedInventory['laptopSn']}}">
      </div>
      <div class="p-field">
        <label for="powerAdapterSn" class="p-col-12 p-md-4">Power Adaptor SN</label>
        <input disabled=true id="powerAdapterSn" type="text" class="p-col-12 p-md-6"
               value="{{assignedInventory['powerAdapterSn']}}">
      </div>

      <div>
        <div>
          <p-button type="button" class="ui-button-raised" (onClick)="onInventoryAssignNewLaptopClicked()"
                    label="Assign New Inventory"></p-button>
          <span>&nbsp;</span>
          <p-button type="button" class="ui-button-raised" (onClick)="onInventoryRepairClicked()"
                    label="Repair Inventory"></p-button>
        </div>
        <div *ngIf="enableInventoryAssignment">
          <form [formGroup]="inventoryAssignForm" (ngSubmit)="onInventoryAssignNewLaptopSaved()">
            <h3>Assign Inventory</h3>
            <div class="ui-fluid">
              <div class="p-field">
                <!--                <label for="comments" class="p-col-12 p-md-2">Inventory</label>-->
                <p-dropdown [options]="spareInventoryList" formControlName="inventory" placeholder="Select Inventory"
                            optionLabel="label" [showClear]="true" [filter]="true" required=true
                            class="p-col-12 p-md-4"></p-dropdown>
              </div>
            </div>
            <div class="p-field p-col-4">
              <button pButton type="submit" label="Submit" [disabled]="!inventoryAssignForm.valid"></button>
            </div>
          </form>
        </div>

        <div *ngIf="enableInventoryRepair">
          <div class="p-field p-col-4"></div>
          <form [formGroup]="inventoryRepairForm" (ngSubmit)="onInventoryRepairSaved()">
            <h3>Repair Inventory</h3>
            <div class="ui-fluid">
              <div class="p-field">
            <textarea id="comment_repair" type="text" formControlName="comments" class="p-col-12 p-md-10" rows="4"
                      maxlength="200" required="true" placeholder="Enter comments"></textarea>
              </div>
            </div>
            <div class="p-field p-col-4">
              <button pButton type="submit" label="Submit" [disabled]="!inventoryRepairForm.valid"></button>
            </div>
          </form>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
  <div class="p-field p-col-4">
    <button pButton type="submit" label="Close" (click)="onCloseAssignPopUpClicked()"></button>
  </div>
</p-dialog>
